#cart-summary .block-title {
	background: none repeat scroll 0 0 #F9F3E3;
	color: #5E8AB4;
	margin: 0;
	border:1px solid #5E8AB4;
	border-bottom:none;
	padding: 2px 8px;
}
#cart-summary .block-title strong {
	color: #F18200;
	font-size: 13px;
	text-transform: uppercase;
}

#cart-summary .cart-summary-details {
    background: none repeat scroll 0 0 #FBFAF6;
    border: 1px solid #BBAFA0;
    display: block;
    margin: 0 0 6px;
    min-height: 85px;
    padding: 5px 13px 13px;
}
#cart-summary .cart-summary-details .sub-total ,
#cart-summary .cart-summary-details .flate-rate ,
#cart-summary .cart-summary-details .tax-ammount ,
#cart-summary .cart-summary-details .grand-total {
	clear:both;
}
#cart-summary .cart-summary-details label {
	float:left;
}
#cart-summary .cart-summary-details span {
	float:right;
}
#cart-summary .cart-summary-details .grand-total {
	font-weight:bold;
}
